.hero{
    animation:fadeUp 1.2s ease;

    background:rgba(0,0,0,.35);
    backdrop-filter:blur(10px);

    width:90%;
    max-width:1000px;

    margin:auto;
    padding:40px;

    border-radius:20px;
    text-align:center;
}

.hero h1{
    color:white;
    font-size:70px;
    font-weight:bold;
}

.hero p{
    color:white;
    font-size:24px;
}

.hero button{
    padding:15px 35px;
}

.custom-navbar{
    width:90%;
    margin:20px auto;
    padding:18px 35px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:rgba(255,255,255,.08);
    backdrop-filter:blur(12px);

    border-radius:15px;
}

.logo{
    color:white;
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:600;
}

.features{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;

    width:90%;
    margin:40px auto;
}

.feature-card{
    background:rgba(255,255,255,.1);
    backdrop-filter:blur(15px);

    padding:20px;

    border:1px solid rgba(255,255,255,.2);
    border-radius:20px;

    text-align:center;

    cursor:pointer;
    transition:.3s;
}

.feature-card:hover{
    transform:translateY(-10px);
}

.feature-card h3,
.feature-card p{
    color:white;
}

.stats-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.stat-card{
    width:220px;
    padding:25px;

    text-align:center;

    background:rgba(255,255,255,.12);
    backdrop-filter:blur(12px);

    border-radius:20px;
    color:white;
}

.roadmap{
    margin-top:80px;
    text-align:center;
    color:white;
}

.roadmap-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-top:30px;
}

.roadmap-step{
    width:220px;
    padding:20px;

    background:rgba(255,255,255,.12);
    backdrop-filter:blur(10px);

    border-radius:20px;
}

.roadmap-step:hover{
    transform:translateY(-10px);
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@media(max-width:768px){

    .custom-navbar{
        flex-direction:column;
        gap:15px;
    }

    .nav-links{
        flex-direction:column;
        text-align:center;
    }

    .hero{
        width:95%;
        padding:20px;
    }

    .hero h1{
        font-size:36px;
    }

    .hero p{
        font-size:18px;
    }

    .features{
        grid-template-columns:1fr;
    }
}